/* Define units for keyboard measurements, multiples of --kb-unit can be used */
/* for the sizing of elements on the board (e.g. white key is 24 units wide). */
/* Reference: http://quadibloc.com/other/cnv05.htm */

html, body {
  --kb-width: 87vw;
  --kb-unit: calc(var(--kb-width) / 29 / 24 );
}

html, body {
  margin: 0;
  padding: 0;
}

#keyboard {
  position: relative;
  width: var(--kb-width);
  margin: 0 auto;
}

#keyboard .keys-row {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: auto;
}

#keyboard .keys-row.keys-wht {
  left: 0;
  width: var(--kb-width);
  height: calc(var(--kb-unit) * 135);
  grid-template-columns: repeat(29, 1fr);
}

#keyboard .keys-row.keys-blk {
  left: calc(var(--kb-unit) * 14);
  width: calc(var(--kb-width) - (var(--kb-unit) * 56));
  height: calc(var(--kb-unit) * 67.5);
  grid-template-columns: repeat(8, 1fr);
  column-gap: calc(var(--kb-unit) * 28);
}

#keyboard .grp-blk {
  display: grid;
}

#keyboard .grp-blk.grp-2 {
  grid-template-columns: repeat(2, 1fr);
  width: calc(var(--kb-unit) * 42);
}

#keyboard .grp-blk.grp-3 {
  grid-template-columns: repeat(3, 1fr);
  width: calc(var(--kb-unit) * 70);
}

#keyboard .key {
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid gray;
}

#keyboard .keys-wht .key {
  background-color: white;
  color: black;
}

#keyboard .keys-blk .key {
  width: calc(var(--kb-unit) * 14);
  margin-right: calc(var(--kb-unit) * 13);
  background-color: black;
  color: white;
}