/* Define units for keyboard measurements, multiples of --kb-unit can be used */
/* for the sizing of elements on the board (e.g. white key is 24 units wide). */
/* Reference: http://quadibloc.com/other/cnv05.htm */
html, body {
  --kb-width: 87vw;
  --kb-unit: calc(var(--kb-width) / 29 / 24 );
}

/* Define CSS variables for colors. */
html, body {
--kb-shade-wht: hsl(71, 5%, 100%);
--kb-shade-05: hsl(71, 5%, 95%);
--kb-shade-10: hsl(71, 5%, 90%);
--kb-shade-15: hsl(71, 5%, 85%);
--kb-shade-20: hsl(71, 5%, 80%);
--kb-shade-25: hsl(71, 5%, 75%);
--kb-shade-30: hsl(71, 5%, 70%);
--kb-shade-35: hsl(71, 5%, 65%);
--kb-shade-40: hsl(71, 5%, 60%);
--kb-shade-45: hsl(71, 5%, 55%);
--kb-shade-50: hsl(71, 5%, 50%);
--kb-shade-55: hsl(71, 5%, 45%);
--kb-shade-60: hsl(71, 5%, 40%);
--kb-shade-65: hsl(71, 5%, 35%);
--kb-shade-70: hsl(71, 5%, 30%);
--kb-shade-75: hsl(71, 5%, 25%);
--kb-shade-80: hsl(71, 5%, 20%);
--kb-shade-85: hsl(71, 5%, 15%);
--kb-shade-90: hsl(71, 5%, 10%);
--kb-shade-95: hsl(71, 5%, 05%);
--kb-shade-blk: hsl(71, 5%, 00%);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#keyboard {
  position: relative;
  width: var(--kb-width);
  margin: 0 auto;
}

#keyboard .keys-row {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: auto;
}

#keyboard .keys-row.keys-wht {
  left: 0;
  width: var(--kb-width);
  height: calc(var(--kb-unit) * 135);
  grid-template-columns: repeat(29, 1fr);
  column-gap: 1px;
}

#keyboard .keys-row.keys-blk {
  left: calc(var(--kb-unit) * 15);
  width: calc(var(--kb-width) - (var(--kb-unit) * 52));
  height: calc(var(--kb-unit) * 75);
  grid-template-columns: repeat(8, 1fr);
  column-gap: calc(var(--kb-unit) * 28);
}

#keyboard .grp-blk {
  display: grid;
}

#keyboard .grp-blk.grp-2 {
  grid-template-columns: repeat(2, 1fr);
  width: calc(var(--kb-unit) * 42);
}

#keyboard .grp-blk.grp-3 {
  grid-template-columns: repeat(3, 1fr);
  width: calc(var(--kb-unit) * 70);
}

#keyboard .key {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0 0 calc(var(--kb-unit) * 3) calc(var(--kb-unit) * 3);
  border: 1px solid var(--kb-shade-40);
}

#keyboard .key span {
  position: absolute;
  bottom: calc(var(--kb-unit) * 7);
  width: 100%;
  font-size: calc(var(--kb-unit) * 7);
  text-align: center;
  user-select: none;
  pointer-events: none;
}

#keyboard .keys-wht .key {
  background: linear-gradient(var(--kb-shade-05), var(--kb-shade-10));
  color: var(--kb-shade-85);
}

#keyboard .keys-blk .key {
  width: calc(var(--kb-unit) * 14);
  margin-right: calc(var(--kb-unit) * 14);
  background: linear-gradient(var(--kb-shade-85), var(--kb-shade-95));
  color: var(--kb-shade-10);
}
